@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #1b1b1b;
  background-image: url("imgs/bg.png");
}
canvas {
  margin: 100px;
}
input {
  display: inline-block;
}
nav {
  color: #f2f2f2;
  background-color: #292929;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
nav > input[type="button"] {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #49bf88;
  border:none;
  border-radius:5px;
  color: #f2f2f2;
  padding: 0.5rem;
  margin-left: 1rem;
}
nav > input[type="button"]:hover{
    color: #dbdbdb;
    background-color: #41a073;
}
nav > input[type="button"]:active{
  background-color: #f2f2f2;
  color: #49bf88;
}
nav > input[type="text"] {
  outline: none;
  width: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius:5px;
  border:none;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#tag{
  position: fixed;
  color:#f2f2f2;
  bottom: 0;
}